<div class="card mb-4">
    <div class="card-header">Contact Information</div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                {{ form.house_number_and_street.label_tag }}
                {{ form.house_number_and_street }}
            </div>
            <div class="col-md-3">
                {{ form.suburb.label_tag }}
                {{ form.suburb }}
            </div>
            <div class="col-md-3">
                {{ form.town_or_city.label_tag }}
                {{ form.town_or_city }}
            </div>
            <div class="col-md-3">
                {{ form.postal_code.label_tag }}
                {{ form.postal_code }}
            </div>
            <div class="col-md-3">
                {{ form.cell_phone_number.label_tag }}
                {{ form.cell_phone_number }}
            </div>
            <div class="col-md-3">
                {{ form.work_phone_number.label_tag }}
                {{ form.work_phone_number }}
            </div>
            <div class="col-md-3">
                {{ form.whatsapp_number.label_tag }}
                {{ form.whatsapp_number }}
            </div>
            <div class="col-md-6">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
        </div>
    </div>
</div>