<div class="card mb-4">
    <div class="card-header">Education Information</div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                {{ form.school.label_tag }}
                {{ form.school }}
            </div>
            <div class="col-12">
                <label>Subjects:</label>
                <div class="subject-checkboxes">
                    {% for checkbox in form.subjects %}
                    <div class="form-check">
                        {{ checkbox.tag }}
                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                            {{ checkbox.choice_label }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>